.about {
	backdrop-filter: blur(30px);
	background-color: rgba(0, 0, 0, 0.2);
	height: 100vh;
	color: white;
}

.about p {
	font-family: 'Source Code Pro', sans-serif;
	font-size: 2em;
	margin: 0 0 1em 0;
	line-height: 1.4em;
}

img.profile-picture {
	width: 20em;
	height: 25em;
	margin: 0 0 1em 0;
}

@media screen and (max-width: 500px) {
	.about {
		display: none;
	}
}
