div.full-width-section {
    width: 100%;
    margin: -3em 0 0 -3em;
    padding: 3em 3em 0 3em;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}