header {
	background-color: rgba(20, 20, 20, 0.2);
	height: 60px;
	width: 50%;
	position: fixed;
	z-index: 1000;
	top: 1em;
	border-radius: 60px;
	transform: translateY(-60px);
	transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	backdrop-filter: blur(10px);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.menu-icon {
	display: none;
}

nav {
	height: 100%;
	padding: 0;
}

nav ul {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	height: 100%;
	font-family: 'Source Code Pro', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	line-height: normal;
}

nav ul li {
	flex: 1;
	height: 100%;
	padding: 0.3em;
	box-sizing: border-box;
}

nav ul li a {
	text-decoration: none;
	display: block;
	text-align: center;
	color: #fff;
	border-radius: 60px;
	background-color: rgba(150, 150, 150, 0.1);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul li a:hover {
	background-color: rgba(200, 200, 200, 0.1);
}

@keyframes glitch {
	0% {
		font-weight: 100;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	20% {
		font-weight: 200;
		font-style: italic;
		text-decoration: none;
		text-transform: uppercase;
	}
	40% {
		font-weight: 300;
		font-style: normal;
		text-decoration: line-through;
		text-transform: lowercase;
	}
	60% {
		font-weight: 400;
		font-style: normal;
		text-decoration: underline;
		text-transform: capitalize;
	}
	80% {
		font-weight: 500;
		font-style: normal;
		text-decoration: none;
		text-transform: none;
	}
	100% {
		font-weight: 100;
		font-style: normal;
		text-decoration: none;
		text-transform: capitalize;
	}
}

@keyframes underline {
	0% {
		text-decoration: none;
	}
	50% {
		text-decoration: underline;
	}
	100% {
		text-decoration: none;
	}
}

@media screen and (max-width: 500px) {
	.menu-icon {
		display: block;
		position: absolute;
		right: 1em;
		top: 1em;
		font-size: 2em;
		color: #fff;
	}
	header {
		height: auto;
		width: 60%;
		transform: translateX(-100px);
		transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
		margin-left: 1em;
		margin-right: auto;
	}

	nav ul {
		flex-direction: column;
		font-size: 2em;
	}
}
