




body {
    font-family: Comfortaa, sans-serif;
    font-weight: 1000;
    font-size: 20px;
    padding: 3em;
    margin: 0;
    background: #f0f0f0;
    color: #000000;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

h1 {
    font-family: Lexend, sans-serif;
    font-size: 4em;
    Margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-weight: 100;
}

h2 {
    font-family: Comfortaa, sans-serif;
    font-size: 2em;
    Margin: 0 0 0 0;
    padding: 0 0 0 0;
}


