@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.noise {
	/* ... */
	background: url(https://grainy-gradients.vercel.app/noise.svg);
}

html,
body {
	position: relative;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.item {
	-webkit-perspective: 2000;
	-webkit-backface-visibility: hidden;
	perspective: 2000;
	backface-visibility: hidden;
}

.project-card {
	transform: translateZ(0);
	-webkit-font-smoothing: subpixel-antialiased;
	backface-visibility: hidden;
}

.glass-pannel {
	@apply tw-border-t-2 tw-border-l-2 tw-border-opacity-10 dark:tw-border-opacity-10 dark:tw-border-neutral-300 tw-border-neutral-400 tw-backdrop-blur-lg tw-rounded-lg dark:tw-bg-[rgba(32,32,32,0.7)] tw-bg-[rgba(232,232,232,0.7)] tw-shadow-neutral-400 dark:tw-shadow-neutral-950;
}

.pannel-size {
	@apply tw-w-full tw-py-8 tw-px-8 md:tw-px-10 lg:tw-px-12 xl:tw-px-24 2xl:tw-px-32 tw-max-w-[2200px];
}
