@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	overflow: hidden;
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.text-small {
	@apply tw-text-lg;
}

.text-medium {
	@apply lg:tw-text-4xl md:tw-text-3xl tw-text-2xl;
}

.text-large {
	@apply lg:tw-text-6xl tw-text-5xl;
}

.text-xlarge {
	@apply lg:tw-text-9xl tw-text-8xl;
}

html,
body {
	position: relative;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.item {
	-webkit-perspective: 2000;
	-webkit-backface-visibility: hidden;
	perspective: 2000;
	backface-visibility: hidden;
}

.project-card {
	transform: translateZ(0);
	-webkit-font-smoothing: subpixel-antialiased;
	backface-visibility: hidden;
}

.glass-pannel {
	@apply tw-border-t-2 tw-border-l-2 tw-border-opacity-10 dark:tw-border-opacity-10 dark:tw-border-neutral-300 tw-border-neutral-400 tw-backdrop-blur-lg tw-rounded-lg dark:tw-bg-[rgba(32,32,32,0.7)] tw-bg-[rgba(232,232,232,0.7)] tw-shadow-neutral-400 dark:tw-shadow-neutral-950 tw-p-6;
}

.pannel-size {
	@apply tw-w-full tw-py-10 tw-px-8 md:tw-px-16 lg:tw-px-12 xl:tw-px-24 2xl:tw-px-48 tw-max-w-[2000px];
}

.button-large {
	@apply tw-text-center text-medium tw-font-bold tw-p-2 tw-px-4 tw-rounded-2xl tw-shadow-lg dark:tw-text-neutral-900 tw-text-neutral-100 tw-transition dark:tw-bg-neutral-100 tw-bg-neutral-900 tw-duration-100 hover:tw-scale-[1.02] hover:tw-bg-neutral-800 hover:dark:tw-bg-white active:tw-scale-95
}