.icon-rotate {
	animation: icon-rotate 0.5s linear;
}

@keyframes icon-rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}

@media (max-width: 767px){
  .menu {
    animation: hide-menu 0.3s forwards;
    transform: translateY(-100%);
    opacity: 0;
  }

  .show-menu {
    animation: show-menu 0.3s forwards;
    transform: translateY(0);
    opacity: 1;
  }

  .header-icon {
    animation: icon-show 0.3s forwards;
    transform: translateY(0);
    opacity: 1;
  }


  .hide-icon {
    animation: icon-hide 0.3s forwards;
  }
}

@keyframes show-menu {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide-menu {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes icon-hide {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-200%);
    opacity: 0;
  }
  
}

@keyframes icon-show {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}
